#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
cmdline


# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.244 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --onboot=off --ipv6=auto --activate
network  --hostname=CIT470-001_Team5_s1.hh.nku.edu

# Root password
rootpw --iscrypted $6$N/E2jFw/hcLl0W7W$CtMxBmlr0v5ONQIziJ6j50G4dXs.pfEU6hobN.xyHcqMTvADr3iHNKkdi1p9Xdn/qIxrU4KVUjVdYcpYVTjoE.

# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
#autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

#Disk partitioning information
part /var --fstype="xfs" --ondisk=sda --size=2000
part swap --fstype="swap" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=7500

#Config commands
reboot

%post --log=/root/ks-post.log

#yum updates
yum update -y
yum install wget -y
yum install net-tools -y



%end

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
